<head>
    <title>Todo List</title>
</head>

<body ng-app="todo">
    <div ng-controller="todoListController">

        <form ng-submit="addTodo(newTodo)">
            <input ng-model="newTodo" type="text"/>
        </form>

        <div>
            <div ng-repeat="todo in todos">
                <input type="checkbox" ng-checked="todo.checked" ng-click="toggleStatus(todo)"/>
                <p>{{todo.task}}</p>
                <button ng-click="removeTodo(todo)">Delete</button>
            </div>
        </ul>
    </div>
</body>